/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;800&display=swap');

/* Variables */
:root {
  /* Primary */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  /* Neutral */
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  /* Font */
  --size: 28px;
  --family: 'Manrope', sans-serif;
  --bold: 800;
}

/* Global Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark-blue);
  font-family: var(--family);
  font-size: var(--size);
  padding: 1rem;
}
main {
  background-color: var(--dark-grayish-blue);
  border-radius: 10px;
  margin: 10rem auto;
  padding: 2rem 1rem;
  position: relative;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Number Container Section */
.number-container {
  color: var(--neon-green);
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 1.4rem;
  text-transform: uppercase;
}

/* Quote Container Section */
.quote-container {
  color: var(--light-cyan);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 2rem;
  text-align: center;
}

/* Divider Container Section */
.divider-container {
  margin: 1.4rem 0;
}

/* Dice Container Section */
.dice-button {
  background-color: var(--neon-green);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto -100px;
  padding: 1.2rem 1.2rem 1rem;
  position: absolute;
  left: 41%;
  bottom: 68px;
}
.dice-button:hover {
  box-shadow: 0 0 40px var(--neon-green);
}

@media (min-width: 1000px) {
  main {
    width: 32rem;
  }
  .dice-button {
    left: 44%;
  }
}